@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/proximanova-semibold-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FreightBig Pro';
    src: url('../fonts/FreightBigProBold-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}