$color-white: #fff;
$color: #000000;
$color-pink: #ec1b9e;
$heading-color: #000000;
$text-color: #aaa6a6;
$text-font: 'ProximaNova-Light';
$heading-font: 'FreightBig Pro';
$link-font: 'ProximaNova-Semibold';
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;